.banner {
  width: 100%;
  height: 570px;
  background-image: url('../images/bg-banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner a {
  text-decoration: none;
}

.banner .caption1-slide1 {
  opacity: 0;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 60px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.banner .caption2-slide1 {
  opacity: 0;
  animation-name: fadeInDown;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -10px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.banner .button-slide1 {
  opacity: 0;
  animation-name: zoomIn;
  animation-delay: 1.3s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoomIn {
  from {
    transform: scale(0.3, 0.3);
  }

  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.tag-list-wrapper {
  text-align: center;
  margin: 35px 0;
  padding: 0 25px;
}

.tee-tag-item {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  border-radius: 2px;
  background: #f5f8fa;
  margin: 0 10px 10px 0;
  color: #293542;
  font-size: 14px;
  font-family: Montserrat-Medium;
  cursor: pointer;
}

.tee-tag-item:hover {
  background: #293542;
  color: #fff !important;
  opacity: 0.7;
}

.tee-tag-item.tag-selected {
  background: #293542;
  color: #fff;
}

.cart-total {
  border-bottom: none;
  text-align: right;
  padding: 20px 30px;
}

.cart-btn-group {
  justify-content: flex-end;
}

.cart-btn-group > div {
  margin-left: 10px;
}

.bread-crumb {
  background-color: #f5f5f5;
  padding: 10px 20px;
}

.size-block .size-item {
  display: inline-block;
  border: 1px solid #e5e5e5;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  margin-right: 10px;
  color: #050505;
  cursor: pointer;
}

.size-block .size-item.active {
  color: #fff;
  background-color: #000;
}

.product-detail-main-img {
  max-height: 560px;
  overflow: hidden;
}

.product-detail-sm-block {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.product-detail-sm-img {
  width: 23%;
  height: 110px;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid transparent;
}

.product-detail-sm-img:hover,
.product-detail-sm-img.active {
  border: 3px solid #888;
}

.btn-show-menu-mobile {
  position: relative;
  top: 3px;
}

.item-menu-mobile,
.item-topbar-mobile {
  margin-bottom: 0;
}

.price-text::after {
  content: 'VND';
  margin-left: 4px;
}

.product-specific-ic {
  width: 44px;
  padding: 8px 9px;
  border: 1px solid #000;
  opacity: 0.9;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
}
.product-specific-info {
  display: inline-block;
  width: calc(100% - 44px);
  padding-left: 10px;
  margin-top: -4px;
}

.size-table {
  border-collapse: separate;
  width: 100%;
  table-layout: fixed;
  border-spacing: 5px;
  border: none;
  font-size: 15px;
}
.size-table th {
  padding: 0;
}
.size-table th {
  background-color: #686868;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
.size-table tr td {
  background-color: #f5f8fa;
  border: none;
  text-align: center;
  color: #506881;
  padding: 10px;
}
.size-table tr td:first-child {
  background-color: #686868;
  color: #fff;
  font-weight: bold;
}

.block2-img {
  height: 300px;
}

/* .block2-img img {
  cursor: pointer;
} */

.exchange-page {
  padding-bottom: 30px;
}

.checkout-item {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 25px;
  justify-content: space-around;
}

.checkout-item img {
  width: 45px;
}

.checkout-item .item-name {
  width: 40%;
  margin: 0 25px;
}

.checkout-item .item-count {
  border: 1px solid #ccc;
  width: 22px;
  height: 22px;
  text-align: center;
  margin-right: 45px;
}

.checkout-bill {
  display: flex;
  justify-content: space-between;
}

.checkout-bill p {
  margin: 2px 0;
  color: #000;
}

.checkout-select-wrapper {
  display: flex;
  justify-content: space-around;
}

.order-btn:disabled {
  background-color: #e6e6e6;
  cursor: auto;
}

.mobile-shopping-cart {
  display: none;
}

.mobile-cart-row {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px;
}

.mobile-cart-row:first-child {
  border: 1px solid #e6e6e6;
}

.mobile-cart-row .cart-img-product {
  margin-right: 20px;
}

.mobile-cart-row .num-group {
  width: 64px;
  height: 21px;
  margin: 10px 0;
}

.mobile-cart-row .num-product {
  width: 20px;
  height: 18px;
  font-size: 12px;
}

.num-product:disabled {
  background: #fff;
}

.mobile-cart-row .btn-num-product-down {
  width: 20px;
  height: 20px;
}

.mobile-cart-row .btn-num-product-up {
  width: 20px;
  height: 20px;
}

.topbar-social-item {
  font-size: 25px !important;
}

@media (max-width: 576px) {
  .product-item-wrapper {
    max-width: 50%;
  }
  .block2-img {
    height: 180px;
  }
  .cart-func-btn {
    width: 100%;
    margin-left: 0 !important;
  }
  .wrap-table-shopping-cart {
    display: none;
  }
  .mobile-shopping-cart {
    display: block;
  }
  .order-btn-div {
    width: 100% !important;
  }

  .checkout-item {
    display: flex;
  }
  .checkout-item .item-name {
    margin: 0 15px;
  }
  .checkout-item .item-count {
    margin-right: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .block2-img {
    height: 260px;
  }
}
